.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.cust_btn_menu{
    border:none;
    font-family: cursive;
    font-size: 23px;
    background: blueviolet;
}
mat-toolbar.thm_toolbar.mat-toolbar.mat-toolbar-multiple-rows {
    background: blueviolet;
}