<div class="container">        
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>SKU</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList">
          <td>{{product.prod_id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.sku}}</td>
          <td>{{product.price}}</td>
          <td><button (click)="goToOrders(product)" class="{{product.icon}}"></button></td>
        </tr>
       
      </tbody>
    </table>
  </div>
  